In [10]:
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import LabelEncoder

# Load your dataset and split it into features (X) and target (y)
stroke_df = pd.read_csv("healthcare-dataset-stroke-data.csv")

class MultiColumnLabelEncoder(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.encoders = {}
        for column in X.columns:
            le = LabelEncoder()
            le.fit(X[column].astype(str))
            self.encoders[column] = le
        return self
    
    def transform(self, X, y=None):
        X_copy = X.copy()
        for column, encoder in self.encoders.items():
            X_copy[column] = encoder.transform(X_copy[column].astype(str))
        return X_copy
    
encoder = MultiColumnLabelEncoder()
stroke_encoded = encoder.fit_transform(stroke_df)
stroke_encoded

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,5053,1,85,0,1,1,2,1,1618,239,1,1
1,3218,0,79,0,0,1,3,0,1356,418,2,1
2,1593,1,100,0,1,1,2,0,251,198,2,1
3,3907,0,65,0,0,1,2,1,1153,217,3,1
4,530,0,98,1,0,1,3,0,1162,113,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,652,0,100,1,0,1,2,1,3107,418,2,0
5106,2641,0,101,0,0,1,3,1,798,273,2,0
5107,745,0,50,0,0,1,3,0,3061,179,2,0
5108,2105,1,68,0,0,1,2,0,1131,129,1,0
5109,2628,0,60,0,0,1,0,1,3201,135,0,0

In [7]:
# Create the random forest classifier model
# with n_estimators=128 and random_state=1
rf_model = RandomForestClassifier

NameError: name 'RandomForestClassifier' is not defined

In [8]:
rf_model = RandomForestClassifier(n_estimators=128, random_state=1)

# Fit the model to the training data
rf_model.fit(X_train_scaled, y_train)

NameError: name 'RandomForestClassifier' is not defined