In [15]:
import pandas as pd
import second_pipeline_utilities as p_util
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC 
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [16]:
stroke_df = pd.read_csv("healthcare-dataset-stroke-data.csv")
stroke_df

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [17]:
stroke_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [18]:
stroke_df_clean = stroke_df.dropna()
stroke_df_clean

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [19]:
stroke_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4909 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4909 non-null   int64
 1   gender             4909 non-null   object
 2   age                4909 non-null   float64
 3   hypertension       4909 non-null   int64
 4   heart_disease      4909 non-null   int64
 5   ever_married       4909 non-null   object
 6   work_type          4909 non-null   object
 7   Residence_type     4909 non-null   object
 8   avg_glucose_level  4909 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     4909 non-null   object
 11  stroke             4909 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 498.6+ KB

In [23]:
# This is a custom transformer to use LabelEncoder for all the columns that have string, i.e. the categorical columns.
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import LabelEncoder

class MultiColumnLabelEncoder(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        self.encoders = {}
        for column in X.columns:
            le = LabelEncoder()
            le.fit(X[column].astype(str))
            self.encoders[column] = le
        return self
    
    def transform(self, X, y=None):
        X_copy = X.copy()
        for column, encoder in self.encoders.items():
            X_copy[column] = encoder.transform(X_copy[column].astype(str))
        return X_copy

In [24]:
encoder = MultiColumnLabelEncoder()

In [25]:
stroke_encoded = encoder.fit_transform(stroke_df_clean)

In [26]:
stroke_encoded

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,4855,1,85,0,1,1,2,1,1547,239,1,1
2,1502,1,100,0,1,1,2,0,242,198,2,1
3,3743,0,65,0,0,1,2,1,1122,217,3,1
4,503,0,98,1,0,1,3,0,1131,113,2,1
5,3458,1,101,0,0,1,2,1,1180,163,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,313,0,26,0,0,0,4,0,137,59,0,0
5106,2508,0,101,0,0,1,3,1,773,273,2,0
5107,697,0,50,0,0,1,3,0,2955,179,2,0
5108,1992,1,68,0,0,1,2,0,1102,129,1,0
5109,2496,0,60,0,0,1,0,1,3091,135,0,0

In [44]:
preprocessed_data = p_util.preprocess_data(stroke_encoded)

In [45]:
preprocessed_data

(      gender  age  hypertension  heart_disease  ever_married  work_type  \
 0          1   85             0              1             1          2
 2          1  100             0              1             1          2
 3          0   65             0              0             1          2
 4          0   98             1              0             1          3
 5          1  101             0              0             1          2
 ...      ...  ...           ...            ...           ...        ...
 5104       0   26             0              0             0          4
 5106       0  101             0              0             1          3
 5107       0   50             0              0             1          3
 5108       1   68             0              0             1          2
 5109       0   60             0              0             1          0

       Residence_type  avg_glucose_level  smoking_status
 0                  1               1547               1
 2                  0                242               2
 3                  1               1122               3
 4                  0               1131               2
 5                  1               1180               1
 ...              ...                ...             ...
 5104               0                137               0
 5106               1                773               2
 5107               0               2955               2
 5108               0               1102               1
 5109               1               3091               0

 [4909 rows x 9 columns],
 0       1
 2       1
 3       1
 4       1
 5       1
        ..
 5104    0
 5106    0
 5107    0
 5108    0
 5109    0
 Name: stroke, Length: 4909, dtype: int64,
 ColumnTransformer(transformers=[('num',
                                  Pipeline(steps=[('imputer', SimpleImputer()),
                                                  ('scaler', StandardScaler())]),
                                  Index(['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
        'work_type', 'Residence_type', 'avg_glucose_level', 'smoking_status'],
       dtype='object')),
                                 ('cat',
                                  Pipeline(steps=[('imputer',
                                                   SimpleImputer(strategy='most_frequent')),
                                                  ('onehot',
                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                  Index([], dtype='object'))]))

In [51]:
X_train

NameError: name 'X_train' is not defined

In [33]:
model = p_util.train_and_evaluate_model()

AttributeError: module 'second_pipeline_utilities' has no attribute 'train_and_evaluate_model'

In [2]:
data_file = 'healthcare-dataset-stroke-data.csv'